@font-face {
    font-family: GothamPro;
    src: url("../fonts/GOTHAPROREG.OTF");
}

@font-face {
    font-family: GothamProBold;
    src: url("../fonts/GOTHAPROBOL.OTF");
}

:root {
    --gray1: #333333;
    --gray2: #444444;
}

body,
header,
div,
section,
button,
input,
ul,
li,
a,
h1,
h2,
p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    line-height: 1;
}

button {
    cursor: pointer;
}

body {
    color: var(--gray1);
    font-family: GothamPro, sans-serif;
}

.header {
    padding: 8px 20px;
    background: #fff;
}

.container {
    width: 100%;
    max-width: 480px;
    padding: 0 20px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.header__advantages {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 370px;
}

.header__advantage {
    display: flex;
    align-items: center;
}

.header__advantage-text {
    color: var(--gray2);
    font-size: 16px;
    line-height: 18px;
}

.header__advantage-text span {
    font-family: GothamProBold, sans-serif;
}

.header__advantage-icon {
    width: 22px;
    height: 28px;
    margin-right: 17px;
}

.logo__icon {
    width: 43px;
    height: 43px;
}

.banner {
    font-family: GothamProBold, sans-serif;
    padding-top: 33px;
    min-height: 571px;
    background: url(../images/banner-background.jpg) no-repeat center;
}

.banner__title {
    text-transform: uppercase;
    font-size: 44px;
    color: #d35728;
}

.banner__text {
    font-size: 26px;
    line-height: 32px;
}

.advantages {
    padding: 20px 0;
}

.advantages__list-item {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}

.advantages__list-item:last-child {
    margin-bottom: 0;
}

.advantages__list-item-image {
    margin-right: 15px;
}

.stock {
    padding: 30px 0;
    background: #f0f3ee;
}

.stock .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 440px;
}

.stock__quantity {
    display: flex;
    align-items: center;
    max-width: 285px;
    margin-bottom: 30px;
}

.stock__quantity-numeral {
    font-size: 24px;
    color: #fff;
    line-height: 1;
    padding: 6px 8px;
    background: #e36c26;
    border-radius: 12px;
    margin-right: 11px;
}

.stock__quantity-numeral span {
    font-family: GothamProBold, sans-serif;
}

.stock__quentity-text {
    font-size: 18px;
}

.stock__time {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.stock__time-text {
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 12px;
}

.stock__time-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 315px;
}

.stock__time-item {
    position: relative;
    text-align: center;
    padding: 15px;
    border-radius: 9px;
    width: 80px;
    height: 80px;
    background: #ffffff;
}

.stock__time-item:not(:last-child)::after {
    position: absolute;
    top: calc(50% - 18px);
    right: -24px;
    content: ':';
    color: #787977;
    font-size: 36px;
}

.stock__time-numeral {
    font-family: GothamProBold, sans-serif;
    font-size: 36px;
    color: #426b23;
}

.stock__time-unit {
    font-size: 12px;
}

.stock__price {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 21px;
}

.stock__price-block {
    padding: 15px 30px;
}

.stock__price-old {
    position: relative;
    padding-right: 2px;
    width: calc(50% - 26px);
    background: #ffffff;
}

.stock__price-old::after {
    position: absolute;
    right: -28px;
    top: 0;
    content: "";
    border: 28px solid transparent;
    border-top: 82px solid #fff;
    display: block;
}

.stock__price-new {
    padding-left: 53px;
    width: calc(50% + 26px);
    color: #ffffff;
    background: linear-gradient(to top right, #436c23, #71a80e);
}

.stock__price-text {
    font-size: 14px;
    text-transform: uppercase;
}

.stock__price-money {
    font-size: 36px;
}

.stock__price-old .stock__price-money {
    text-decoration: line-through;
}

.stock__price-new .stock__price-money {
    font-family: GothamProBold, sans-serif;
}

.btn {
    width: 100%;
    padding: 25px;
    font-size: 26px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    font-family: GothamProBold, sans-serif;
    color: #ffffff;
    background: linear-gradient(#fd8e24, #d45828);
    border-radius: 6px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5), inset 0px -6px #c04c1d;
}

.old {
    padding-top: 30px;
}

.old__title {
    text-align: center;
    font-family: GothamProBold, sans-serif;
    font-size: 32px;
    line-height: 36px;
    color: #c0401d;
}

.old__image {
    margin-bottom: 24px;
}

.old__limitations {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.old__limitation {
    position: relative;
    max-width: 210px;
}

.old__limitation::after {
    content: "";
    position: absolute;
    top: 128px;
    right: calc(50% - 18px);
    background: url(../images/cross.png) no-repeat center/cover;
    width: 36px;
    height: 36px;
    display: block;
}

.old__limitaion-image {
    width: 100%;
    margin-bottom: 20px;
}

.old__limitaion-description {
    text-align: center;
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 25px;
}

.best-decision {
    color: #ffffff;
    text-transform: uppercase;
    padding: 58px 20px 72px;
    margin-bottom: 20px;
    background: url(../images/best-decision.png) no-repeat;
}

.best-decision__big-text {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 5px;
    font-family: GothamProBold, sans-serif;
}

.best-decision__text {
    font-size: 19px;
}

.choice {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choice__img {
    border-radius: 10px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
    width: 338px;
    height: 294px;
    margin-bottom: 20px;
}

.gif {
    position: absolute;
    top: 111px;
    font-size: 72px;
    color: #ffffff;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.57);
}

.choice__text {
    text-align: center;
    max-width: 336px;
    font-size: 18px;
    line-height: 24px;
}

.choice__text span {
    color: #c0401d;
    font-family: GothamProBold, sans-serif;
}