@font-face {
    font-family: GothamPro;
    src: url("../fonts/GOTHAPROREG.OTF");
}

@font-face {
    font-family: GothamProBold;
    src: url("../fonts/GOTHAPROBOL.OTF");
}

:root {
    --gray1: #333333;
    --gray2: #444444;
}

body,
header,
div,
section,
button,
input,
ul,
li,
a,
h1,
h2,
p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    line-height: 1;
}

button {
    cursor: pointer;
}

body {
    color: var(--gray1);
    font-family: GothamPro, sans-serif;
}

.header {
    padding: 8px 0 6px;
    background: #fff;
}

.container {
    width: 100%;
    max-width: 480px;
    padding: 0 20px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
    max-width: 480px;
    padding: 0 12px 0 29px;
}

.header__advantages {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 373px;
}

.header__advantage {
    display: flex;
    align-items: center;
}

.header__advantage-text {
    color: var(--gray2);
    font-size: 16px;
    line-height: 18px;
}

.header__advantage-text span {
    font-family: GothamProBold, sans-serif;
}

.header__advantage-icon {
    margin-right: 17px;
}

.icon-battery {
    width: 19px;
    height: 28px;
}

.header__logo {
    display: block;
    width: 56px;
    height: 56px;
}

.logo__icon {
    width: 100%;
}

.banner {
    font-family: GothamProBold, sans-serif;
    padding-top: 34px;
    min-height: 571px;
    background: url(../images/banner-background.jpg) no-repeat center;
}

.banner__title {
    text-transform: uppercase;
    font-size: 44px;
    color: #d35728;
    line-height: 28px;
    letter-spacing: -0.2px;
    margin-bottom: 17px;
}

.banner__text {
    font-size: 26px;
    line-height: 32px;
}

.advantages {
    padding: 19px 0;
}

.advantages__list-item {
    display: flex;
    align-items: center;
    margin-bottom: 21px;
}

.advantages__list-item:last-child {
    margin-bottom: 0;
}

.advantages__list-item-image {
    margin-right: 15px;
}

.advantages__list-item-text {
    letter-spacing: 1px;
}

.stock {
    position: relative;
    padding: 30px 0;
    background: url(../images/leaf2.png) no-repeat calc(50% - 186px) 23px,
        url(../images/arrow.png) no-repeat calc(50% + 172px) 72px #f0f3ee;
}

.stock::after {
    position: absolute;
    top: -43px;
    left: calc(50% + 143px);
    content: "";
    width: 80px;
    height: 67px;
    background: url(../images/leaf1.png) no-repeat center/cover;
}

.stock .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 440px;
}

.stock__quantity {
    display: flex;
    align-items: center;
    max-width: 285px;
    margin-bottom: 28px;
}

.stock__quantity-numeral {
    font-size: 24px;
    color: #fff;
    line-height: 1;
    padding: 4px 2px 4px 8px;
    background: #e36c26;
    border-radius: 12px;
    margin-right: 11px;
}

.stock__quantity-numeral span {
    font-family: GothamProBold, sans-serif;
}

.stock__quentity-text {
    font-size: 18px;
    letter-spacing: -2px;
}

.stock__time {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.stock__time-text {
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 12px;
}

.stock__time-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 315px;
}

.stock__time-item {
    position: relative;
    text-align: center;
    padding: 11px;
    border-radius: 12px;
    width: 76px;
    height: 77px;
    background: #ffffff;
}

.stock__time-item:not(:last-child)::after {
    position: absolute;
    top: calc(50% - 18px);
    right: -24px;
    content: '';
    width: 8px;
    height: 34px;
    background: url(../images/colon.png) no-repeat center/cover;
}

.stock__time-numeral {
    font-family: GothamProBold, sans-serif;
    font-size: 36px;
    color: #426b23;
    line-height: 35px;
}

.stock__time-unit {
    font-size: 12px;
}

.stock__price {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 21px;
}

.stock__price-block {
    padding: 12px 23px;
}

.stock__price-old {
    position: relative;
    padding-right: 25px;
    width: calc(50% - 0px);
    background: #ffffff;
    text-align: right;
}

.stock__price-old::after {
    position: absolute;
    right: -28px;
    top: 0;
    content: "";
    border: 28px solid transparent;
    border-top: 82px solid #fff;
    display: block;
}

.stock__price-new {
    padding-left: 55px;
    width: calc(50% + 26px);
    color: #ffffff;
    background: linear-gradient(to top right, #436c23, #71a80e);
}

.stock__price-text {
    font-size: 14px;
    text-transform: uppercase;
}

.stock__price-money {
    font-size: 36px;
}

.stock__price-old .stock__price-money {
    text-decoration: line-through;
}

.stock__price-new .stock__price-money {
    font-family: GothamProBold, sans-serif;
}

.btn {
    width: 100%;
    padding: 25px 0 33px;
    font-size: 26px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    font-family: GothamProBold, sans-serif;
    color: #ffffff;
    background: linear-gradient(#fd8e24, #d45828);
    border-radius: 6px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5), inset 0px -6px #c04c1d;
    transition: 0.2s;
}

.btn:hover {
    background: linear-gradient(#ff9a3c, #d36b42);
}

.old {
    padding: 26px 0;
}

.old__title {
    text-align: center;
    font-family: GothamProBold, sans-serif;
    font-size: 32px;
    line-height: 36px;
    color: #c0401d;
    margin-bottom: 20px;
}

.old__image {
    width: 100%;
    margin-bottom: 24px;
}

.old__limitations {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.old__limitation {
    position: relative;
    max-width: 210px;
}

.old__limitation::after {
    content: "";
    position: absolute;
    top: 128px;
    right: calc(50% - 18px);
    background: url(../images/cross.png) no-repeat center/cover;
    width: 36px;
    height: 36px;
    display: block;
}

.old__limitaion-image {
    width: 100%;
    margin-bottom: 20px;
}

.old__limitaion-description {
    text-align: center;
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 25px;
}

.best-decision {
    color: #ffffff;
    text-transform: uppercase;
    padding: 55px 20px 72px;
    margin-bottom: 28px;
    background: url(../images/best-decision.png) no-repeat center/contain;
}

.best-decision__big-text {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 5px;
    font-family: GothamProBold, sans-serif;
}

.best-decision__text {
    font-size: 19px;
}

.choice {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choice__img {
    border-radius: 10px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 338px;
    height: 294px;
    margin-bottom: 15px;
}

.gif {
    position: absolute;
    top: 111px;
    font-size: 72px;
    color: #ffffff;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.57);
}

.choice__text {
    text-align: center;
    max-width: 336px;
    font-size: 18px;
    line-height: 24px;
}

.choice__text span {
    color: #c0401d;
    font-family: GothamProBold, sans-serif;
}

@media (max-width: 470px) {

    .header .container {
        padding: 0 20px;
    }

    .header__advantages {
        margin-right: 10px;
        max-width: 313px;
    }

    .header__advantage-text {
        font-size: 13px;
    }

    .old__limitations {
        max-width: 400px;
        margin: 0 auto;
        justify-content: center;
    }

    .stock::after {
        display: none;
    }

    .best-decision__big-text {
        font-size: 24px;
        line-height: 30px;
    }

    .best-decision__text {
        font-size: 15px;
    }

}

@media (max-width: 430px) {
    .stock__price-old {
        padding-right: 19px;
    }

    .stock__price-new {
        padding-left: 40px;
    }
}

@media (max-width: 410px) {

    .header__advantages {
        max-width: 290px;
    }

    .header__advantage-text {
        font-size: 13px;
    }

    .header__advantage-icon {
        margin-right: 6px;
    }

    .best-decision__big-text {
        font-size: 20px;
        line-height: 26px;
    }

    .best-decision__text {
        font-size: 13px;
    }

    .stock__price-old {
        padding: 12px 19px 12px 6px;
    }

    .stock__price-new {
        padding: 12px 0 12px 40px;
    }

    .btn {
        font-size: 23px;
    }

}

@media (max-width: 380px) {

    .header .container {
        padding: 0 15px;
    }

    .header__advantages {
        max-width: 280px;
    }

    .header__advantage-text {
        font-size: 12px;
    }

    .banner__title {
        font-size: 37px;
    }

    .best-decision__big-text {
        font-size: 17px;
        line-height: 23px;
    }

    .best-decision__text {
        font-size: 11px;
    }

    .stock__price-text {
        font-size: 12px;
    }
}

@media (max-width: 350px) {

    .header__advantages {
        max-width: 235px;
    }

    .header__advantage-text {
        font-size: 10px;
    }

    .stock__price-new {
        padding: 12px 0 12px 26px;
    }

}